:root {
    --brownish-grey: #909090;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* margin-left: 150px;
    margin-right: 150px; */
}

p {
    width: auto;
    height: auto;
    margin: 7px 0 0;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.14px;
    text-align: left;
    color: var(--brownish-grey);
}

/* ------------------- */

.Main-container {
    padding: 43px;
    display: flex;
    width: 100%;
    justify-content: center;
    /* margin: 0 auto; */
}

.Line-4 {
    width: 186px;
    height: 2px;
    margin-bottom: 19px;
    background-color: #e03116;
}

.content-row23 {
    display: flex;
}

.top1,
.bot1 {
    width: 278px;
}

.top1,
.bot1 {
    margin: 35px 35px 35px 35px;
}

.mar-top-row2 {
    padding-top: 33px;
}

.row1 .tieude {
    width: 530px;
    height: auto;
    /* margin: 29px 0 0 0; */
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.29px;
    text-align: left;
    color: #1f2c40;
}

/*---------------- tieu đề */

.tieude-center1,
.tieude-center2,
.tieude-right1,
.tieude-right2 {
    width: auto;
    height: auto;
    margin: 0 0 7px;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: -0.19px;
    text-align: left;
    color: #1f2c40;
}

@media screen and (max-width:1439px) {

}

@media screen and (max-width: 1260px) {

    .row1 .tieude {
        width: auto;
        height: auto;
    }

    .Main-container {
        display: inline-block;
    }

    .content-row23 {
        justify-content: space-between;
    }

    .row1,
    .row2,
    .row3 {
        width: auto;
        display: block;
    }

    .top1,
    .bot1 {
        width: auto;
    }


}

@media screen and (max-width:779px) {

    .top1,
    .bot1 {
        width: auto;
    }

    .content-row23 {
        display: block;
    }
    .mar-top-row2{
        padding-top: 0;
    }

}